.container {  display: grid;
  grid-template-columns: 0.7fr 2.2fr 0.5fr;
  grid-template-rows: 0.7fr 1.6fr 0.7fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". Form ."
    ". . .";
}

.Form {  display: grid;
  grid-template-columns: 1fr 0.5fr 1.5fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo logo logo"
    "logo logo logo"
    "login login registra";
  grid-area: Form;
}

.logo { grid-area: logo; }

.login {
  justify-self: center;
  align-self: center;
  grid-area: login;
}

.registra {
  justify-self: center;
  align-self: center;
  grid-area: registra;
}

@media all and (-ms-high-contrast:none) {
  .container {
    display: -ms-grid;
    -ms-grid-columns: 0.7fr 2.2fr 0.5fr;
    -ms-grid-rows: 0.7fr 1.6fr 0.7fr;
  }

  .Form {
    display: -ms-grid;
    -ms-grid-columns: 1fr 0.5fr 1.5fr;
    -ms-grid-rows: repeat(3, 1fr);
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .logo {
    width: 10px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .login {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }

  .registra {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }
}